
.btn-gray {
    color: #333;
    background-color: #FBFBFB;
    border-color: #ccc;
}
.btn-green {
    color: #fff;
    background-color: #5FD659;
    border-color: #ccc;
}
.btn-green:hover {
    color:#fff;
}
.btn-red {
    color: #333;
    background-color: #DE694D;
    border-color: #ccc;
}
.btn-red:hover {
    color:#333;
}
.btn-hide {
    color: transparent;
    background-color: transparent;
    border-color: transparent;
}
.btn-hide:hover {
    color: transparent;
}
.btn-disabled {
    pointer-events: none;
    cursor: default;
}

.btn-orange {
    color: #fff;
    background-color: #FF8F00;
    border-color: #DA8000;
}
.btn-orange:hover {
    color:#fff;
}
