* { box-sizing: border-box; }

html { font-size: 62.5%; }

body { 
  margin: 0;
  font-size: 1.8rem;
  font-family: 'Avenir', Arial, sans-serif;
}

.main-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 6rem;
  color: white;
  background: #5494C5;
  line-height: 6rem;
  transform: translateY(0);
  transform: translate3d(0,0,0);
  transition: .25s transform;
  backface-visibility: hidden;
}

.heads-up {
  transform: translateY(-6rem);
  transform: translate3d(0,-6rem,0);
}

.main-header h1 {
  float: left;
  font-size: 1.4rem;
  margin: 0 0 0 2rem;
  text-transform: uppercase;
  line-height: 60px;
  /*width:20%;*/
  word-wrap: break-word;
}

.main-header nav {
  float: right;
  font-size: 1.4rem;
  width: 70%;
}

.main-header nav ul { 
  padding: 0; 
  width: 100%;
  background-color: #237BBF;
}

.main-header nav li {
  display: inline-block;
  /*padding: 0 2rem;*/
  border-left: .1rem solid #92B4CE;
  text-align: center;
  width: 22%;
  cursor: pointer;
}

.main-header nav li a
, .main-header nav li a:hover
, .main-header nav li a:focus {
  color: #fff;
  text-decoration: none;
}

.content-main {
  padding-top: 60px;
}