/* Sticky footer styles
-------------------------------------------------- */

html, body {
    height: 100%;
    overflow: hidden; /* 스크롤 안되게 하기 위해 */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

#wrap > .container {
  padding: 10px 15px 0;
}

#footer > .container {
  padding-left: 15px;
  padding-right: 15px;
}
.nav-item {
  padding: 5px 0;
  cursor: pointer;
}
.nav-item-center {
  /*font-size: larger;*/
}

.nav-bottom {
    max-width: 810px;
}

#bottomNav {
    /*padding:10px;*/
}
#bottomNav a {
    color:#ddd;
    text-decoration:none;
}
#bottomNav a:hover {
    color:#fff;
}
#bottomNav .nav-item.active {
    border-top: 3px solid red;
    margin-top: -3px;
}

/* webview에서 outline 없애기 시작 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
*:focus {  
    outline: none !important;  
} 
/* webview에서 outline 없애기 끝 */

.main-div::-webkit-scrollbar
,.jpanel-nav::-webkit-scrollbar
,.nav-profile-select ul::-webkit-scrollbar { 
    display: none; /* scroll bar 안보이게 */
}

.masthead {
  margin-bottom: 20px;
}
.jPanelMenu-panel {
    max-width: 810px;
}
.jpanel-nav {
    background-color: #eee;
}
.jpanel-nav li .badge {
    position: relative;
    top: -1px;
}
.jPanelMenu header.main {
  width: 100%;
}

.default-border {
    border: #ccc solid 1px !important;
}
.main-div {
     overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    overflow-x:hidden;
}

.right-nav {
  margin-top:5px;
  margin-left: 3px;
}
.right-nav hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #FBFBFB;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #91C4F9;
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #333;
}
.nav-pills>li:first-child>a {
display: block;
-webkit-box-sizing: content-box;
-moz-box-sizing: content-box;
box-sizing: content-box;
float: none;
z-index: auto;
width: auto;
height: auto;
position: static;
cursor: default;
opacity: 1;
margin: 0 auto;
padding: 5px;
overflow: visible;
border: none;
-webkit-border-radius: 0;
border-radius: 0;
font: normal normal bold 25px/normal "Anton", Helvetica, sans-serif;
color: rgb(112, 112, 112);
text-transform: uppercase;
-o-text-overflow: clip;
text-overflow: clip;
letter-spacing: 10px;
background: none;
-webkit-box-shadow: none;
box-shadow: none;
text-shadow: 2px 2px 0 rgb(238,238,238) , 3px 3px 0 rgb(112,112,112) ;
-webkit-transition: none;
-moz-transition: none;
-o-transition: none;
transition: none;
-webkit-transform: none;
transform: none;
-webkit-transform-origin: 50% 50% 0;
transform-origin: 50% 50% 0;
}
.nav-pills>li.make-add>a {
    color:#20A9FF;
}
.nav-pills>li.make-add.active>a {
    color:#fff;
}

.loading-out {
    position: absolute;
    top: 55%;
    background-color: transparent;
    z-index: 999;
    padding: 8px;
    width: 100%;
    text-align: center;
}
a:hover, a:active, a:focus {
  text-decoration: none;
}
a:active, a:focus { 
 outline: none; 
 ie-dummy: expression(this.hideFocus=true);
}

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 6px;
    color: #CECECE;
    border: 2px solid #CECECE;
    cursor: pointer;
    z-index: 888;
}
.btn-button-name:active, .btn-button-name:hover, .btn-button-name:focus {
    background-color: #CECECE;
    color: #333;
}
.btn-button-name.btn-lg {
    border: 3px solid #CECECE;
}
.btn-button-name.btn-sm {
    border: 1px solid #CECECE;
}  
.btn-button-name.btn-xs {
    border: 1px solid #CECECE;
}

.title {
  text-align: center;
  margin-top:0px;
  padding-top: 20px; /* .content가 내려오지 않게하기위해 margin-top 없애고 padding-top으로 */
}
.content-main {
  width: 100%;
  margin: 0 auto;
}
.menu-icon, .left-arrow-icon {
  /*font-size : 2em;*/
  font-size : 1.2em;
  line-height: 1em;
  position: fixed;
  z-index: 9999; /* question-left-btn과 같게 */
    top: 14px;
    /*right: 8px;*/
    left: 5px;
    color: #fff;

  -moz-transition: all 0.1s ease-out;  /* FF4+ */
    -o-transition: all 0.1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.1s ease-out;  /* IE10 */
    transition: all 0.1s ease-out;  
}
.menu-icon:hover, .menu-icon:focus
,.left-arrow-icon:hover, .left-arrow-icon:focus
{
    color: #fff;
}

.list-group-item:first-child {
    border-radius: 0px;
}
.list-group-item:last-child {
    border-radius: 0px;
}
.list-group-item-default {
    background-color: #eee;
}
.list-table {
  margin-top: 10px;
}
.list-table th {
  white-space: nowrap;
}
.pagination-box {
  text-align:center;
}
.navbar {
    height: 48px;
}
.navbar-gray {
    background-color: #333;
    border-color: #222;
    color: #fff;
}
.navbar h4 {
    top: 4px;
    position: relative;
}
.navbar-padding {
    padding-top:48px;
}

.hover-div {
    -webkit-box-shadow: 0 8px 6px -6px #ccc;
    -moz-box-shadow: 0 8px 6px -6px #ccc;
        box-shadow: 0 8px 6px -6px #ccc;
}
.hover-div:hover, .hover-div.hover_effect {
/*    -webkit-box-shadow: 0 0 0 0 #ccc;
    -moz-box-shadow: 0 0 0 0 #ccc;
        box-shadow: 0 0 0 0 #ccc;
    margin-top: 6px;
    margin-bottom: -6px;
    background-color: #eee;*/

    background-color: #CDD4D8;
}

.create-div {
    padding: 20px;
    max-width: 800px;
}

.rank .list-group-item {
    padding: 10px 7px;
}
.rank li div {
    display:inline-block;
}
.rank .rank-s {
    width: 30px;
    /*line-height: 45px;*/
    text-align: center;
}
.rank .item-user-btn {
    cursor: pointer;
}
.rank .name-s {
    padding: 0 3px;
}
.rank .user-s {
    /*display: block;*/
    font-size: smaller;
    padding: 5px 0;
}
.rank .level-s {
    max-width: 10%;
    margin-right: 10px;
    /*line-height: 45px;*/
}
.class-badge {
    font-size: 10px;
    padding: 5px;
    width: 35px;
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.6);
}
.badge-success {
    /*background-color: #5cb85c;*/
    background: linear-gradient(to right,#53a93f,#b0e0a4)!important;
}
.badge-primary {
    /*background-color: #337ab7;*/
    background: linear-gradient(to right,#337AB7,#94BADA)!important;
}
.badge-info {
    /*background-color: #5bc0de;*/
    background: linear-gradient(to right,#5bc0de,#A0D3E2)!important;
    
}
.badge-warning {
    /*background-color: #f0ad4e;*/
    background: linear-gradient(to right,#f0ad4e,#EFD2AA)!important;
}
.badge-danger {
    /*background-color: #d9534f;*/
    background: linear-gradient(to right,#d9534f,#E6A6A4)!important;
}
.badge-gray {
    background-color: #BDBDBD;
}
.toprank {
    font-weight: bold;
    /*font-size: larger;*/
}
.tab-group {
    margin: 10px auto;
}
.content-div {
    max-width: 780px;
    margin: 0 auto;
    padding: 15px;
}
@media (max-width: 480px) {
    input.form-control {
        padding:6px 7px;
    }

    .profile-form label {
        padding-right: 5px;
    }
    .profile-form .input-div {
        padding-left: 5px;
        padding-right: 10px;
    }
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.file-name-label {
    width: 200px;
    max-height: 18px;
    overflow-x: hidden;
}
.background-img-div
,.question-img-div {
    /* contain : 비율 유지 */
    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: contain;
    -o-background-size: contain;
    -moz-background-size: contain;
    -webkit-background-size: contain;
    background-size: contain;
}

.signin-btn, .signout-btn {
    cursor: pointer;
}
.sign-div {
    /*background-color: #B0D1E4;*/
}
.sign-logo {
    font-size: 24px;
    margin-bottom: 25px;
/*    color: #fff;
    text-shadow: 1px 1px #333;*/
}
.sign-logo img {
}
.login-or {
    position: relative;
    font-size: 15px;
    color: #aaa;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.span-or {
    display: block;
    position: absolute;
    left: 50%;
    top: 5px;
    margin-left: -25px;
    background-color: #fff;
    width: 50px;
    text-align: center;
}
.hr-or {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.sign-form a {
    font-size: 12px;
}


.card.hovercard {
    position: relative;
    padding-top: 0;
    /*overflow: hidden;*/
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.card.hovercard .cardheader {
    position: relative;
    min-height: 170px;
    /*max-height: 265px;*/
    /*overflow-y: hidden;*/
    color: #fff;
    text-shadow: 1px 1px #333;

    background-repeat: no-repeat;
    background-position: 50% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
}

.card.hovercard .cardheader .profile-edit-btn {
    position: absolute;
    top: 5px;
    right: 5px;
}
.card.hovercard .cardheader .profile-desc-edit-btn {
/*    position: absolute;
    top: 105px;
    right: 5px;*/
}

.card.hovercard .cardheader .profile-top-rank {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 90;
}

.card.hovercard .avatar {
    position: relative;
    padding-top: 10px;
    margin-bottom: -50px;
}

.card.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}
.card.hovercard .class {
    position: relative;
    padding-top: 50px;
}

.card.hovercard .info {
    position: relative;
    padding-top: 40px;
    padding: 4px 8px 10px;
}

/*.card.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    vertical-align: middle;
}
*/
.card.hovercard .info .desc {
    /*overflow: hidden;*/
    font-size: 14px;
    line-height: 20px;
    color: #F5F5F5;
    text-overflow: ellipsis;
    height: auto;
    padding: 0 10px;
}
.card.hovercard .cardsummary-item {
    border: 1px solid #ccc;
    padding: 10px;
    cursor: pointer;
}

.card.hovercard .cardsummary-item-body {
    font-size: 25px;
}

.supervan-btn-block {
    display: block;
    width: 70% !important;
    text-align: center;
    margin:0 auto 10px auto;
}
.supervan-btn-block+.supervan-btn-block {
    margin: 0 auto !important;
}

.make-list-div {
    padding: 0 10px;
}
.make-list-div .question-item {
    border-radius: 3px;
    cursor: pointer;
}
.make-list-div .question-item .thumb {
    width: 45px;
    height: 45px;
}
.make-list-div .question-item .media-heading {
    font-size: 14px;
}
.make-list-div .question-item .media-info span {
    margin-left: 10px;
}
.empty-list {
    color: #ADADAD;
    font-weight: lighter;
}
.report-warning-icon {
    position: absolute;
    top:5px;
    left:2px;
}


/*************
* timeline start
**************/
.history-link-btn {
    cursor: pointer;
}
.timeline {
    list-style: none;
    padding: 20px 0px 20px;
    position: relative;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #eeeeee;
    left: 50%;
    margin-left: -1.5px;
}
.timeline.line-hide:before {
    width: 0px;
}

.timeline > li {
    margin-bottom: 20px;
    position: relative;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li:before,
.timeline > li:after {
    content: " ";
    display: table;
}

.timeline > li:after {
    clear: both;
}

.timeline > li > .timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid #d4d4d4;
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid #ccc;
    border-right: 0 solid #ccc;
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline > li > .timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid #fff;
    border-right: 0 solid #fff;
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline > li > .timeline-badge {
    color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: #999999;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
    float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

.timeline-body > p + p {
    margin-top: 5px;
}


@media (max-width: 767px) {
    ul.timeline:before {
        left: 30px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 72px);
        width: -moz-calc(100% - 72px);
        width: -webkit-calc(100% - 72px);
    }

    ul.timeline > li > .timeline-badge {
        left: 5px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
        padding: 10px;
    }

    ul.timeline > li > .timeline-panel h4 {
        font-size: 15px;
    }

    ul.timeline > li > .timeline-panel > .timeline-body p {
        font-size: 12px;
    }

    ul.timeline > li > .timeline-panel:before {
        border-left-width: 0;
        border-right-width: 15px;
        left: -15px;
        right: auto;
    }

    ul.timeline > li > .timeline-panel:after {
        border-left-width: 0;
        border-right-width: 14px;
        left: -14px;
        right: auto;
    }
}

/*************
* timeline end
**************/

.nav-profile-select {
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav-profile-select ul {
    overflow-y:scroll;
    -webkit-overflow-scrolling: touch;
}
.nav-profile-select li a {
    cursor: pointer;
    padding: 3px 10px;
}
.nav-logout-btn {
    position: absolute;
    top: 10px;
    right: 10px;
}
.apps-div {
    padding: 5px;
}
.apps-div .thumbnail {
    min-height: 310px;
}
.apps-div .slider {
    margin: -5px -5px 50px -5px;
}
/*.apps-div .slider img {
    width: 100%;
}*/
.apps-div .app-img {
    width: 50px;
    height: 50px;
}
.apps-div .app-icon-one {
    margin-bottom: 10px;
    font-size: 10px;
    cursor: pointer;
}
.apps-div .app-icon-one .app-name{
    height: 30px;
}
.slick-item-one { 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: pointer;
}
.slick-item-one .slick-title {
    color: #fff;
    font-size: 22px;
    bottom: 3px;
    position: absolute;
    font-weight: bold;
    text-shadow: 1px 1px #333;    
    margin: 20px;
}
.slick-item-one .slick-app-img {
    top: 3px;
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-right: 5px;
    border: 1px #eee solid;
    z-index: 999; /* for link click */
}
@media (max-width: 480px) {
    .slick-item-one .slick-title {
        font-size: 16px;
        margin: 10px;
    }
    .slick-item-one .slick-app-img {
        width: 35px;
        height: 35px;
    }
}

.main-search-box {
    padding: 10px;
}
.go-search-btn {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 18px;
    line-height: 27px;
    cursor: pointer;
    z-index:999;
}
.nav-right-button  {
    position: absolute;
    top: 10px;
    right: 10px;
}

.icon-box-div {
    background-color: #eee;
    padding: 10px;
}

.icon-div {
    border: 1px solid #ccc;
    width: 144px;
    height: 144px;
    background-color: #fff;
}




