/* theme colors */
/*
#004990
#f68e1e
#788bbd
#dedede
#ffffff 
*/


html, body {
    /*height: 100%;*/
    /*overflow: hidden;  스크롤 안되게 하기 위해 */
    /*overflow: auto;*/
    /*background-color: #dedede;*/
    background-color: #fff;
}

/* ajax 로딩시 깨지는 현상 없애기 위해 */
.jconfirm.jconfirm-supervan .jconfirm-box {
    width: 330px;
    height: 250px;
}

/* 가이드 alert 창을 위로 좀 올려달라고 해서 */
.jconfirm .jconfirm-holder {
    margin-top: -80px;
}
@media (max-width: 480px) {
    .jconfirm .jconfirm-holder {
        margin-top: -60px;
    }
}

/* 결과 아이콘 크기 크게 해달라고 해서 */
.jconfirm.jconfirm-supervan .jconfirm-box div.jconfirm-closeIcon {
    font-size: 37px !important;
}
.my-slick-arrow .fa-lg {
    font-size: 30px;
}

pre {
    background-color: #fff;
}

/* webview에서 outline 없애기 시작 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0) !important;
}
*:focus {  
    outline: none !important;  
} 
.left-logo {
    padding: 15px;
}
.left-logo a {
    font-size: 18px;
    color: #f68e1e !important;
}

.jconfirm .jconfirm-box.loading:before {
    background-color: #000;

    /* supervan */
    /*background-color: rgba(54,70,93,0.95); */
    /*background-color: rgba(24, 31, 41, 0.95);*/
}

/* webview에서 outline 없애기 끝 */
.question-box {
    padding: 10px;
    background-color: #f7f7f7;
    position: relative;
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}
.question-box .question {
    text-align: center;

    /* 세로로 가운데 정렬 */
    position: relative;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}
.answer-box {
    position: relative;
    padding: 10px;
    border-radius: 5px;
    background-color: #fff;
}
.answer-box .answer {
    text-align: center;

    /* 세로로 가운데 정렬 */
    position: relative;
    display: block;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.cursor-pointer {
    cursor: pointer;
}
.display-none {
    display: none;
}
.adsense_bottom {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 50px;
    text-align: center;
}
.sweet-alert .sa-icon.sa-success::before
,.sa-icon.sa-success.animate::after
,.sweet-alert .sa-icon.sa-success .sa-fix {
  background-color: transparent;
}

.main
,.jpanel-nav {
    min-height: 400px; /* 왼쪽 메뉴의 최소 높이를 확보하기 위해. 너무 높게는 하지 말 것 */
}

.main-div::-webkit-scrollbar
,.jpanel-nav::-webkit-scrollbar { 
    display: none; /* scroll bar 안보이게 */
}
.main-div
,.jpanel-nav {
    -ms-overflow-style: none; /* IE에서 스크롤바 숨기기 */
}
.nav-div {
    border-bottom: 1px solid #ccc;
}
.form-group.well {
    padding: 10px;
}
.app-update-guide {
    padding: 3px 10px;
    color: #777;
}
.app-update-guide .panel-heading {
    padding: 3px 5px;
}
.app-update-guide .panel-body {
    padding: 5px;
}
.app-update-guide .btn-sm {
    padding: 2px 10px;
}

/* form-default 시작 */
.form-horizontal.form-default {
    margin: 5px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
.form-horizontal.form-default label
,.form-horizontal.form-default input
,.form-horizontal.form-default select
,.form-horizontal.form-default .default-group 
,.form-horizontal.form-default .button-group
,.form-horizontal.form-default .show-span {
    line-height: 44px;
    height: 44px;
    font-size: 14px;
}
.form-horizontal.form-default .form-control[readonly]
,.form-horizontal.form-default .form-control[disabled] {
    background-color: #fff;
}
.form-horizontal.form-default label {
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    text-align: left;
    /*background-color: #e4e4e4;*/
}

.form-horizontal.form-default label.textarea-label {
    /*background-color: #fff;*/
}
.form-horizontal.form-default .form-group {
    margin: 0;
    border-bottom: 1px #dedede solid;
}
.form-horizontal.form-default input 
,.form-horizontal.form-default select {
    border: none !important;
    box-shadow: none !important;
}
.form-horizontal.form-default .control-box {
    padding-left:0;
    padding-right:0;;
}
.form-horizontal.form-default .number-input {
    /*direction: rtl;*/
    text-align: right;
    padding-right: 1px;
}
.form-horizontal.form-default .number-input::-webkit-input-placeholder { 
    text-align:left; 
}
.form-horizontal.form-default .number-input:-moz-placeholder { 
    text-align:left; 
}
/* form-default 끝 */
.field-text-height {
    height: 45px;
    line-height: 45px;
    padding-left: 12px;
    padding-right: 12px;
}

.textarea-readonly {
    padding: 0 5px;
}
.dot-divider {
    display: inline-block;
    width: 10px;
    text-align: center;
    color: #ccc;
}

.search-box {
    padding: 10px;
    background-color: #d8d8d8;
    border-bottom: 1px solid #ccc;
}

.activate-edit-btn.activated {
    background-color: transparent;
    border-color: transparent;
    #f68e1e
}

.masthead {
	margin-bottom: 20px;
}
.sync-add-btn, .server-add-btn {
	margin-bottom:10px;
}
.jPanelMenu-panel {
    max-width: 810px;
    -webkit-box-shadow: 2px 0 3px -2px #888;
          box-shadow: 2px 0 3px -2px #888;
}
.jpanel-nav {
    /*background-color: #fff;*/
    background-color: #004990;
    /*overflow-y: scroll !important;*/
    border-right: 1px solid #165694;
}

.jpanel-nav li .badge {
    position: relative;
    top: -1px;
}
.jPanelMenu header.main {
	width: 100%;
}

.default-border {
    border: #ccc solid 1px !important;
}

.left-nav li {
    font-size: 14px;
}
.left-nav hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #FBFBFB;
}
.left-nav .brand-tool {
    position: absolute;
    top: 33px;
    right: 6px;
}
.left-nav .brand-tool .icon-button{
    margin-left : 10px;
    cursor: pointer;
}
.left-nav .brand-tool .icon-button.favorite {
    color : #E8B002;
}
.left-nav .brand-tool .icon-button.facebook {
    color : #3b5998;
}
.left-my {
    height: 45px;
    line-height: 45px;
    background-color: #333;
    color: #fff;
    padding: 0 10px;
}
.left-my .current-user {
    font-size: 16px;
}
.left-my .left-logout {
    font-size: 12px;
    color: #dedede;
    cursor: pointer;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #91C4F9;
}
.nav-pills>li>a {
    border-radius: 0px;
    color: #fff;
}
.nav-pills>li>a:hover {
    background-color: #91C4F9;
}
.jpanel-nav .mq-brand-btn {
    cursor: pointer;
}
.jpanel-nav .mq-brand-img {
    padding: 5px 5px;
    border-bottom: 1px solid #ccc;
}
.jpanel-nav .mq-brand-img .mq-icon {
    height: 20px;
}
.jpanel-nav .mq-brand-img .mq-logo {
    height: 15px;
}

/*.nav-pills>li:first-child>a {*/
.left-nav .left-brand {
    display: block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: pointer;
    opacity: 1;
    margin: 0 auto;
    padding: 5px;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    font: normal normal bold 20px/normal "Anton", Helvetica, sans-serif;
    color: rgb(112, 112, 112);
    text-transform: uppercase;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 10px;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: 2px 2px 0 rgb(238,238,238) , 3px 3px 0 rgb(112,112,112) ;
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
    -webkit-transform: none;
    transform: none;
    -webkit-transform-origin: 50% 50% 0;
    transform-origin: 50% 50% 0;
}
.left-nav .left-brand .left-brand-img
,.left-nav .left-brand .left-brand-name {
    display: table-cell;
    vertical-align: top;
}
.left-nav .left-brand .left-brand-name {
    width: 100%;
    padding: 0 15px;
    line-height: 57px;
}
.nav-pills>li.make-add>a {
    /*color:#20A9FF;*/
    color:#FF4220;
}
.nav-pills>li.make-add.active>a {
    color:#fff;
}

.loading-out {
    position: absolute;
    top: 55%;
    background-color: transparent;
    z-index: 999;
    padding: 8px;
    width: 100%;
    text-align: center;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}
a:active, a:focus { 
 outline: none; 
 ie-dummy: expression(this.hideFocus=true);
}

.btn-button-name, .btn-button-name:link, .btn-button-name:visited {
    background-color: transparent;
    border-radius: 6px;
    color: #CECECE;
    border: 2px solid #CECECE;
    cursor: pointer;
    z-index: 888;
}
.btn-button-name:active, .btn-button-name:hover, .btn-button-name:focus {
    background-color: #CECECE;
    color: #333;
}
.btn-button-name.btn-lg {
    border: 3px solid #CECECE;
}
.btn-button-name.btn-sm {
    border: 1px solid #CECECE;
}  
.btn-button-name.btn-xs {
    border: 1px solid #CECECE;
}

.title {
	text-align: center;
	margin-top:0px;
	padding-top: 20px; /* .main이 내려오지 않게하기위해 margin-top 없애고 padding-top으로 */
}
.content-main {
	width: 100%;
    height: 100%;
	margin: 0 auto;
    background-color: #dedede;
    position: relative;
}
.nav-left {
    position: absolute;
    margin-left: 3px;
}
.menu-icon, .left-arrow-icon, .home-icon
,.menu-icon:focus
,.left-arrow-icon:focus
,.home-icon:focus {
    position: relative;
	font-size : 2em;
	
	z-index: 9999; /* question-left-btn과 같게 */
    top: 3px;
    color: #bbb;

	-moz-transition: all 0.1s ease-out;  /* FF4+ */
    -o-transition: all 0.1s ease-out;  /* Opera 10.5+ */
    -webkit-transition: all 0.1s ease-out;  /* Saf3.2+, Chrome */
    -ms-transition: all 0.1s ease-out;  /* IE10 */
    transition: all 0.1s ease-out;  
}
.menu-icon:hover
,.left-arrow-icon:hover
,.home-icon:hover
{
    color: #dedede;
}

.list-group {
    margin-bottom: 0px;
}
.list-group-item:first-child {
    border-radius: 0px;
}
.list-group-item:last-child {
    border-radius: 0px;
}
.list-group-item-default {
    /*background-color: #F1F1F1;*/
    background-color: #fff;
}

.btn-group .btn-default {
    color: #333;
    background-color: #f9f9f9;
    border-color: #ccc;
}
.btn-group .btn-default.active 
,.btn-group .btn-default:active
,.btn-group .open>.dropdown-toggle.btn-default {
    color: #fff;
    background-color: #83aedc;
    border-color: #6d92ab;
}

.list-table {
	margin-top: 10px;
}
.list-table th {
	white-space: nowrap;
}
.pagination-box {
	text-align:center;
}
.search-form {
    background-color: #dedede;
    padding: 10px;

      border-radius: 5px;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;
}
.navbar {
    height: 48px;
}
.common-navbar {
    margin-bottom: 0;
    border-radius: 0;
}
.navbar-gray {
/*    background-color: #333;
    border-color: #222;
    color: #fff;*/

    background-color: #fff;
    border-bottom: 1px solid #dedede;
    color: #000;
}
.navbar-orange {
/*    background-color: #333;
    border-color: #222;
    color: #fff;*/

    background-color: #f68e1e;
    border-bottom: 1px solid #f79831;
    color: #fff;
}
.navbar h4 {
    top: 4px;
    position: relative;
}
.navbar-padding {
    padding-top:48px;
}

.nav-button {
    position: absolute;
    top: 7px;
    z-index: 2000;
}
.nav-button-right {
    right: 10px;
}
.nav-button-left {
    left: 10px;
}


.supervan-btn-block {
    display: block;
    width: 70% !important;
    text-align: center;
    margin:0 auto 10px auto;
}
.supervan-btn-block+.supervan-btn-block {
    margin: 0 auto !important;
}

/* 왼쪽 메뉴 없애기 시작 */
.jpanel-nav {
    display: none;
}
.main {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    -moz-box-shadow: 0 0 3px #ccc;
    -webkit-box-shadow: 0 0 3px #ccc;
    box-shadow: 0 0 3px #ccc;
}
/* 왼쪽 메뉴 없애기 끝 */

